VE_HISTORY_API_HOST=127.0.0.1
VE_HISTORY_API_PORT=8770
VE_HISTORY_API_KEY=請改成一組長隨機字串

VE_HISTORY_DB_HOST=127.0.0.1
VE_HISTORY_DB_PORT=3306
VE_HISTORY_DB_NAME=vehicle_diagnostics
VE_HISTORY_DB_USER=ve_history_reader
VE_HISTORY_DB_PASSWORD=請改成唯讀帳號密碼

